body{
    margin: 0;
    background: radial-gradient(rgba(204,209,228,1), rgba(47,58,143,1));
    font-family: Montserrat;
    height: 100vh;
}

.clock-ui{
    top: 21%;
    left: 37%;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    height: 400px;
}
.clock-ui,.digital-clock-ui{
    position: absolute;
    width: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.digital-clock-ui{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    height: 200px;
    top: 65%;
    left:3%;
    justify-content: center;
    align-items: center;
}
.info{
    padding: 20px;
    font-size: 20px;
}
.time{
    padding: 10px;
}
.time,.info{
    display: flex;
    color: white;
}
.date-content,.time{
    font-size: 25px;
}
#hour,#minute,#second{
    padding: 0 20px;
}
#date,#month,#year{
    padding: 0 10px;
}
.hand{
    position: absolute;
    transform: rotateZ(180deg);
    width: 100px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    transform-origin: 100%;
    transition: all 200ms;
    top: 187px;
}
.hour-hand {
    width: 50px;
    height: 8px;
    left: 140px;
}

.minute-hand{
    width: 90px;
    height: 6px;
    left: 100px;
}
.second-hand{
    width: 130px;
    height: 4px;
    left: 60px;
}
.circle{
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 190px;
    top: 190px;
}